body {
  margin: 0;
  padding: 0;
}

.header {
  max-width: 1000px;
  margin: 0.4em auto;
}
@media (max-width: 792px) {
  .header {
    width: 97vw;
    margin: 0.4em auto;
  }
}
.header .logo__small {
  display: none;
}
.header .logo__big {
  border-radius: 20px 20px 5px 5px;
  width: 100%;
  background: transparent;
}
@media (max-width: 792px) {
  .header .logo__big {
    display: none;
  }
  .header .logo__small {
    display: block;
    width: 97vw;
  }
  .header .logo__hide {
    display: none;
  }
}
.header .logged__in__nav {
  width: 100% !important;
  padding-right: 0 !important;
}
.header nav {
  width: 50%;
  display: inline-block;
  padding-right: 0.4rem;
}
@media (max-width: 792px) {
  .header nav {
    display: block;
    width: 100%;
    padding-right: 0;
  }
}
.header nav:first-child {
  margin-right: 0.4rem;
}
.header nav .header__nav {
  display: flex;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  list-style: none;
  padding-left: 0.1rem;
  justify-content: space-between;
}
@media (max-width: 792px) {
  .header nav .header__nav {
    justify-content: space-between;
  }
}
.header .nav__element {
  padding: 0;
  width: 49%;
}
@media (max-width: 792px) {
  .header .nav__element {
    width: 47.5vw;
    margin-right: 0;
  }
}
.header .nav__link {
  display: block;
  padding: 1em 0.6em;
  color: #F7F7F7;
  background-color: rgb(4, 177, 184);
  border: 1px #2A9EB8 solid;
  border-radius: 2px 2px 5px 5px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .nav__link:hover {
  background-color: #195c6b;
  transform: rotate(0.5deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.72);
}
.header .nav__link__disabled {
  display: block;
  padding: 1em 0.6em;
  color: #F7F7F7;
  background-color: rgb(127, 170, 173);
  border: 1px #2A9EB8 solid;
  border-radius: 5px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.header .logged__in {
  display: block !important;
  width: 100% !important;
}
.header .login__info {
  width: 50%;
  display: inline-block;
}
@media (max-width: 792px) {
  .header .login__info {
    width: 100%;
  }
}
.header .login__info .login__info__text {
  padding: 1em 0.6em;
  background-color: #2A9EB8;
  border: 1px #2A9EB8 solid;
  border-radius: 5px;
  font-weight: 200;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #F7F7F7;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.header .login__info .login__green__text {
  color: #a6ff86;
  font-weight: 500;
}
.header .login__info .signout_button {
  width: 100%;
  padding: 1em 0.6em;
  background-color: #EDC14F;
  border: 1px #2A9EB8 solid;
  border-radius: 5px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #F7F7F7;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .login__info .signout_button:hover {
  background-color: #FD6800;
  transform: rotate(0.5deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.72);
}
@media (max-width: 792px) {
  .header .login__info .signout_button:hover {
    background-color: #FD6800;
    transform: rotate(0.5deg);
  }
}

.user__forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0.4em auto;
}
@media (max-width: 792px) {
  .user__forms {
    width: 97vw;
    margin: 0.4em auto;
  }
}
.user__forms .p-button {
  color: #F7F7F7;
  background-color: rgb(4, 177, 184);
  border: 1px #2A9EB8 solid;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
.user__forms .p-button:hover {
  background-color: #195c6b;
}
.user__forms .auth__container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 1rem;
  padding-bottom: 0.6rem;
  padding-left: 0.6rem;
  width: 49.5%;
}
@media (max-width: 792px) {
  .user__forms .auth__container {
    width: auto;
  }
}
.user__forms .auth__container .auth__title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.user__forms .auth__container .auth__error {
  position: relative;
  top: -2rem;
  color: #FB3B64;
  margin: 0;
}
.user__forms .welcome {
  margin-bottom: 1em;
  padding: 1em;
  font-family: "Lato", sans-serif;
  border: 1px #2A9EB8 solid;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.user__forms .p-float-label {
  width: 80%;
}
.user__forms .p-float-label .p-inputtext {
  width: 100%;
}
.user__forms .p-float-label .p-password {
  width: 100%;
}
.user__forms .p-float-label .p-password .p-inputtext {
  width: 100%;
}
.user__forms .p-float-label .p-password .p-component {
  width: 100%;
}
@media (max-width: 792px) {
  .user__forms {
    flex-direction: column;
  }
  .user__forms .p-float-label {
    width: 92vw;
  }
  .user__forms .p-float-label .p-inputtext {
    width: 100%;
  }
  .user__forms .p-float-label .p-password {
    width: 100%;
  }
  .user__forms .p-float-label .p-password .p-inputtext {
    width: 100%;
  }
  .user__forms .p-float-label .p-password .p-component {
    width: 100%;
  }
}

.visa__container {
  margin: auto;
  max-width: 1000px;
}
@media (max-width: 1024px) {
  .visa__container {
    margin: 0.4em;
  }
}
.visa__container .logo__visa {
  margin-top: 0.4em;
  width: 100%;
}
@media (max-width: 792px) {
  .visa__container .logo__visa {
    display: none;
  }
}
.visa__container .logo__visa_small {
  display: none;
  margin-top: 0.4em;
  width: 100%;
}
@media (max-width: 792px) {
  .visa__container .logo__visa_small {
    display: block;
  }
}
.visa__container .visa__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8em;
}
.visa__container .visa__nav .nav__element {
  width: 49%;
  margin-top: 0.4em;
  display: inline-block;
  padding: 1em 0.6em;
  color: #F7F7F7;
  background-color: rgb(4, 177, 184);
  border: 1px #2A9EB8 solid;
  border-radius: 2px 2px 5px 5px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.visa__container .visa__nav .nav__element:hover {
  background-color: #195c6b;
  transform: rotate(0.5deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.72);
}
.visa__container .iframe__object {
  overflow: hidden;
  min-width: 300px;
  width: 100%;
  border: none;
  height: 120vh;
}

.map__container {
  margin: auto;
  max-width: 1000px;
}
@media (max-width: 1024px) {
  .map__container {
    margin: 0.4em;
  }
}
.map__container .logo__map {
  margin-top: 0.4em;
  width: 100%;
}
@media (max-width: 792px) {
  .map__container .logo__map {
    display: none;
  }
}
.map__container .logo__map_small {
  display: none;
  margin-top: 0.4em;
  width: 100%;
}
@media (max-width: 792px) {
  .map__container .logo__map_small {
    display: block;
  }
}
.map__container .map__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8em;
}
.map__container .map__nav .nav__element {
  width: 49%;
  margin-top: 0.4em;
  display: inline-block;
  padding: 1em 0.6em;
  color: #F7F7F7;
  background-color: rgb(4, 177, 184);
  border: 1px #2A9EB8 solid;
  border-radius: 2px 2px 5px 5px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.map__container .map__nav .nav__element:hover {
  background-color: #195c6b;
  transform: rotate(0.5deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.72);
}
.map__container .country__select__container {
  width: 49%;
  margin-bottom: 0.6em;
}
@media (max-width: 792px) {
  .map__container .country__select__container {
    width: 100%;
  }
}
.map__container .country__select__container .country__title {
  color: #2A9EB8;
  font-famity: "Lato", sans-serif;
}
.map__container .country__select__container .country-select {
  width: 100%;
}
.map__container .country__select__container .country-select .country-select__input-group__flag {
  height: 100%;
}
.map__container .content__container {
  padding-bottom: 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.map__container .content__container .map__render {
  margin-top: 0.8em;
  width: 49%;
  height: 30em;
  border: solid 2px #2A9EB8;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
@media (max-width: 792px) {
  .map__container .content__container .map__render {
    width: 100%;
  }
}
.map__container .content__container .selected__attraction__container {
  margin-top: 0.8em;
  padding: 0.8em;
  border: solid 2px #2A9EB8;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 49%;
  height: 30em;
  text-align: center;
}
@media (max-width: 792px) {
  .map__container .content__container .selected__attraction__container {
    width: 100%;
  }
}
.map__container .content__container .selected__attraction__container .attractions__title {
  text-align: center;
}
.map__container .content__container .selected__attraction__container .attractions__adress {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 0;
}
.map__container .content__container .selected__attraction__container .wiki__link {
  display: inline-block;
  text-align: center;
}
.map__container .content__container .selected__attraction__container .image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  text-align: center;
}
.map__container .content__container .selected__attraction__container .image__container .image_attraction {
  border: solid 1px #2A9EB8;
  border-radius: 5px;
  position: relative;
  margin: 0 0;
  max-width: 95%;
  width: auto;
  max-height: 90%;
}
.map__container .content__container .attractions__container {
  margin-top: 0.8em;
  padding: 0.8em;
  border: solid 2px #2A9EB8;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 49%;
  height: 30em;
}
@media (max-width: 792px) {
  .map__container .content__container .attractions__container {
    width: 100%;
  }
}
.map__container .content__container .attractions__container .attractions__title {
  font-famity: "Lato", sans-serif;
  color: #2A9EB8;
}
.map__container .content__container .attractions__container .attractions__list__container {
  height: 90%;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.map__container .content__container .attractions__container .attractions__list__container .pagination__info {
  margin-left: 0.3em;
  margin-bottom: 0.2em;
  color: #195c6b;
}
.map__container .content__container .attractions__container .attractions__list__container .list__btn {
  color: #195c6b;
  border: solid 1px #195c6b;
  border-radius: 3px;
  margin-right: 0.4em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.2s ease;
}
.map__container .content__container .attractions__container .attractions__list__container .list__btn:hover {
  transform: rotate(0.5deg);
  box-shadow: 0 2px 4px rgba(20, 73, 86, 0.9);
}
.map__container .content__container .attractions__container .attractions__list__container .attractions__list {
  height: 90%;
  font-family: "Lato", sans-serif;
}
@media (max-width: 792px) {
  .map__container .content__container .attractions__container .attractions__list__container .attractions__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
  }
}
.map__container .content__container .attractions__container .attractions__list__container .attractions__list .attractions__element {
  border-bottom: solid 1px #F7F7F7;
}
.map__container .content__container .attractions__container .attractions__list__container .attractions__list .attractions__element:hover {
  cursor: pointer;
  background: #F7F7F7;
}

/*# sourceMappingURL=main.css.map */
