$color-primary: #2A9EB8;
$color-primary-shadow: #195c6b;
$color-secondary: #04B1B8;
$color-blue-gray: #8DC0BC;
$color-yellow: #EDC14F;
$color-orange: #FD6800;
$color-redish: #FB3B64;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;