$color-primary: #2A9EB8;
$color-primary-shadow: #195c6b;
$color-secondary: rgb(4, 177, 184);
$color-secondary-grayed: rgb(127, 170, 173);
$color-blue-gray: #8DC0BC;
$color-green: #a6ff86;
$color-yellow: #EDC14F;
$color-yellow-shadow: #a48630;
$color-orange: #FD6800;
$color-redish: #FB3B64;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;