.visa__container{
  margin: auto;
  max-width: 1000px;

  @include tablet{
    margin: 0.4em;
  }

  .logo__visa{
    margin-top: 0.4em;
    width: 100%;
    @include mobile{
      display: none;
    }
  }

  .logo__visa_small{
    display: none;
    margin-top: 0.4em;
    width: 100%;
    @include mobile{
      display: block;
    }
  }


  .visa__nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;

  .nav__element {
    width: 49%;
    margin-top: 0.4em;
    display: inline-block;
    padding: 1em 0.6em;
    color: $color-light-grey;
    background-color: $color-secondary;
    border: 1px $color-primary solid;
    border-radius: 2px 2px 5px 5px;
    font-weight: 700;
    font-family: $font-lato;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &:hover {
      background-color: $color-primary-shadow;
      transform: rotate(0.5deg);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.72);

    }
  }
  }
  .iframe__object{
    overflow: hidden;
    min-width: 300px;
    width: 100%;
    border: none;
    height: 120vh;
    //box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  }
}